# 認証情報などは絶対に公開しない
__pycache__/
*.pyc
.env
data/
*.jpg
*.nc
service_account.json
/data/*.bin
/data/*.grib2
/data/*.grib2.bin
/data/*.nc
*.log
.DS_Store
data/sample/*     # サンプルはOKにしたい場合
!data/sample/.gitkeep  # 空フォルダ維持
